<!DOCTYPE HTML>
<html>
	<head>
		<title>GoAuth</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta content="Ink" property="og:title">
		<meta content="Ink app" property="og:description">

		<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/yeti/bootstrap.min.css" rel="stylesheet">
		<link href="/statics/style.css" rel="stylesheet" type="text/css">
		
	</head>
	<body>
		<div class="container">
			{{if .IsAuth}}
				<div class="welcome_block">
					<h2>Hello {{.Login}}!</h2>
					<a href="/logout" class="btn btn-lg btn-primary btn-block">Logout</a>
				</div>
			{{else}}
				<div class="welcome_block">
					<h2>Hello world!</h2>
					<a href="/auth" class="btn btn-lg btn-primary btn-block">Auth</a>
				</div>
			{{end}}
		</div>
	</body>
</html>